@import '../../Styles/mixins';
@import '../../Styles/variables';

html {
  background-color: bisque;
  background-image: url("../../images/white-backdrop.jpg");
  background-position: fixed;
  overflow-x: hidden;
  height: 100vh;

  .dashboard-container {
    margin-top: 120px;

    
    .dashboard-header {
      font-weight: normal;
      font-family: sans-serif;
      text-align: center;
      font-size: 65px;
      margin-top: 200px;

      .dashboard-header-user {
        color: $red;
      }
    }

    .github-container {
        display: flex;
        justify-content: center;
        position: relative;
        top: 25px;
    }

    .project {
        @include resize(40px, 40px);
        font-size: 30px;
        transition: 0.4s;
        cursor: pointer;
        position: relative;
        left: 5px
    }

    .project:hover {
        color: purple;
        font-size: 35px;
    }
    

    .badges {
      display: flex;
      justify-content: center;
      height: 20px;
    }

    .stars {
      color: #fdad00;
      margin-top: 10px;
      padding-left: 4px;
      padding-right: 4px;
      transition: 0.4s;
    }

    .stars:hover {
      font-size: 25px;
    }

    p {
      color: $red;
      text-align: center;
      padding: 30px;
      font-size: 20px;
      margin-top: 30px;
    }

    .head-span {
      color: $black;
      font-family: $font-family;
    }

    .tail-span {
      font-family: $font-family;
      font-weight: bold;
      color: $red;
    }

    .profile-links {
      font-family: $font-family;
      font-weight: bold;
    }

    .profile-header {
        @include positionRelatively(30px, 660px);
        color: $black;
        padding: 30px;
        font-size: 20px;
        margin-top: 30px; 
        margin-bottom: 30px;
        font-size: 35px;
        width: 100px;
    }

    .each-project {
        height: 110px;
        border-radius: 20px;
        transition: 0.4s;
        color: $red;
    }

    .each-project:hover {
        background-color: #e9d3d3;
    }

    .project-names {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .experience-header {
      @include positionRelatively(30px, 630px);
      color: $black;
      padding: 30px;
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 35px;
    }

    .create-profile {
      @include positionRelatively(-200px, 670px);
      height: 1000px;
      text-decoration: none;
      border: 1px solid $red;
      padding: 10px;
      text-align: center;
      background-color: $red;
      color: $white;
      transition: 0.4s;
      margin-bottom: 30px;
    }

    .update-profile {
      @include positionRelatively(50px, 470px);
      height: 1000px;
      text-decoration: none;
      border: 1px solid $red;
      padding: 10px;
      text-align: center;
      background-color: $red;
      color: $white;
      transition: 0.4s;
    }

    .update-profile:hover {
      background-color: #6b1111;
    }

    .update-profile:active {
      background-color: $black;
    }

    .delete-profile {
      @include positionRelatively(50px, 690px);
      height: 1000px;
      text-decoration: none;
      border: 1px solid $red;
      padding: 10px;
      text-align: center;
      color: $white;
      transition: 0.4s;
      color: $red;
      font-weight: bold;
    }

    .margin-div {
      margin-bottom: 40px;
    }

    .gif {
      text-align: center;
    }

    .create-profile:hover {
      background-color: #6b1111;
    }

    .create-profile:active {
      background-color: $black;
    }

    .delete-profile:hover {
      background-color: $red;
      color: $white;
    }

    .delete-profile:active {
      background-color: $black;
    }

    .profile-data {
      margin: auto;
      width: 700px;
      padding: 5px;
      box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.3);
    }
  }
}
